header{
	display:flex;
	align-items:center;  /* выравнивание flex-элементов вдоль поперечной оси*/
	justify-content:center;   /* выравнивание flex-элементов вдоль главной оси*/
	height:100px;
	background-color:hsla(225,50%,70%,1);
}
.foto{
	width:150px;
	height:100px;
}
.container{
	height:500px;
	display:flex; /*обьявление дочерних элементов флэксами*/
	flex-direction:row;  /* главная ось расположена по горизонтали*/
	flex-wrap:wrap-reverse; /* обратный перенос flex-элементов */
	align-content:stretch;  /* выравнивание flex-элементов вдоль поперечной оси*/
}
.container div{
	background-color:hsla(225,50%,90%,1);
	margin:5px;
	text-align:justify;
	flex:1 1 200px;  /* пропорции и базовый размер flex-элементов*/
	display:flex;
	flex-flow:column wrap;  /* главная ось расположена по вертикали, + есть перенос flex-элементов*/
	align-items:center;  /* выравнивание flex-элементов вдоль поперечной оси*/
	justify-content:flex-end; /* выравнивание flex-элементов вдоль главной оси*/
}
.container div:nth-of-type(4){
	order:-1; /*меняем порядок*/
	flex:2 1 250px; /* пропорции и базовый размер 4-го flex-элемента*/
	flex-direction:column-reverse; /*обратный порядок вдоль главной оси */
}

button{
	align-self: flex-end; /* выравнивание flex-элемента*/
}
.container div:nth-of-type(4) button{
	align-self: flex-start;  /* выравнивание flex-элемента*/
}

footer{
	display:flex;
	height:100px;
	background-color:hsla(225,50%,70%,1);
	align-items:center;
	justify-content:center;
}